.navigation {
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  top: 0; 
  z-index: 100; 
}

.custom-button {
  background-color: white;
  border: none;
  padding:revert;
  cursor: pointer;
  transition: background-color 0.3s;

}


.logo img {
  display: block;
}

.menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}



.menu li:last-child {
  margin-right: 0;
}

.menu a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease; /* Smooth transition for link color */
}

.menu a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2.5px;
  background-color: rgb(0, 0, 0);
  border-radius: 2px;
  transition: width 0.3s ease;
}

/* Expand the line under the link on hover */
.menu a:hover::after, .menu a.active::after {
  width: 100%;
}

/* Change link color on hover and when active */
.menu a:hover, .menu a.active {
  color: rgb(30, 144, 255); /* Change to your desired link hover/active color */
}
