<div class="navigation">
    <div class="logo">
      <img src="assets/logoj2.png" alt="Logo" width="120px" height="50px">
    </div>
    
    <ul class="menu horizontal-nav">
      <li><a routerLink="/discover" routerLinkActive="active">Discover</a></li>
      <li><a routerLink="/jobstatus" routerLinkActive="active">Application Status</a></li>
      <li><a routerLink="/userprofile" routerLinkActive="active">Profile</a></li>
      <li><a routerLink="/helppage" routerLinkActive="active">Help</a></li>
      <li><a routerLink="/login"><button class="bi bi-box-arrow-right custom-button" data-toggle="tooltip"  title="Logout">Logout</button></a></li>
      
    </ul>
     
  </div>
  
