<div class="navigation">
    <div class="logo">
      <img src="assets/logoj2.png" alt="Logo" width="120px" height="50px">
    </div>
    <ul class="menu horizontal-nav">
      <li><a routerLink="/c-applist" routerLinkActive="active">Job Applications</a></li>
      <li><a routerLink="/c-addjob" routerLinkActive="active">Job Post</a></li>
      <li><a routerLink="/c-profile" routerLinkActive="active">Profile</a></li>
      <li><a routerLink="/login"><button class="bi bi-box-arrow-right custom-button" data-toggle="tooltip"  title="Logout">Logout</button></a></li>
      
    </ul>
  </div>
  